 <!DOCTYPE html>

     <head>
      
         <title>Index of Items</title>
        
     </head>
     <body>
        <div>
            <form action='/items/<%=@item.id%>' method="POST">
            <input type="hidden" name="_method" value="PATCH">
            <label for="item">Item</label>
            <input type="text" name="name" value="<%= @item.name %>">
            <input type="submit" value="Edit Item">
        </div>
     </body>
 </html>

