<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h1>Welcome to the weird items store about page</h1>
    <h2>This is a store with eclectic offering it doesnt matter if you are a landscaper or a hairstylist, we got you!</h2>
    <img src='https://cutt.ly/QeZGpK7' alt="just a pucture" ></a>
</body>
</html>