<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h1>Welcome to the weird items store, good luck finding what you need. :)</h1>
    <ul>
   <li> <h3><a href= "/customers">Click here to see the customers of the month</a></li></h3>
   <li> <h3><a href= "/items">Check all our wonderful items!</li></h3>
    <img src='https://cutt.ly/QeZGpK7' alt="just a pucture" ></a>
</body>
</html>